In [11]:
#項目1 クォーテーションを用いて3行コメントしてみましょう
"""
コメントテスト1
コメントテスト2
コメントテスト3
"""
print("テスト4")

テスト4

In [10]:
#項目2 何かしらの数値と文字を含めてprintしてみましょう
print("テスト" +  str(5))

テスト5

In [13]:
"""
項目3
以下の文章を出力してください。その際、数値は+とstrを用いて文字列へ変換してください
10から1を引くと9になります。
"""
print(str(10) + "から" + str(1) + "を引くと" + str(9) + "になります。")

10から1を引くと9になります。

In [14]:
'''
項目4
以下の100と30を変数に格納し、以下の結果を出力してください。その際、fを用いてください。
100から30を引くと70になる。
'''
print(f"{100}から{30}を引くと{70}になる。")

100から30を引くと70になる。

In [18]:
'''
項目5
以下をスネークケースで変数名定義してください
家族の人数
算数の点数
子供の名前
'''
family_member = 1
math_score = 80
child_name = "Taro"

print(family_member)
print(math_score)
print(child_name)

1
80
Taro

In [22]:
'''
項目6
3つの変数を用いて文字列と数値２つを代入する
f-stringを用いてすべてをアンダーバーで結合した結果を出力する
'''
place = "kyoto"
year = 2024
month = 4

print(f"{place}_{year}_{month}")

kyoto_2024_4

In [49]:
'''
項目7
変数に四則演算の結果を格納する(varA1～VarA5とする, ただし適切な名前に変更すること)
変数に四則演算の何を実施するか文字列で格納する(varBとする, ただし適切な名前に変更すること)
fを用いて"加算の結果は40です"のように出力する。加算や結果の数値は変数で出力すること
'''
add_result = 37 + 3
sub_result = 37 - 3
mul_result = 37 * 3
div_result = 37 / 3
mod_result = 37 % 3
add = "加算"
sub = "減算"
mul = "乗算"
div = "除算"
mod = "剰余算"
print(f"{add}の結果は{add_result}です")

calculate = "add"
print(f"{eval(calculate)}の結果は{eval(calculate + '_result') }です")

加算の結果は40です
加算の結果は40です